[Desktop Entry]
Type=Application
Version=1.2
Name=LXDB MediaSorter
GenericName=Media Sorter
NoDisplay=false
Comment[de]=LXDB MediaSorter - Ein Foto- und Videosortierprogramm, um Ordnung in ihren Dateien zu verschaffen.
Comment=LXDB MediaSorter - A program to sort images and video files.
Icon=de.lxdb.lms
Hidden=false
Exec=lms
Terminal=false
Categories=X-Red-Hat-Base;X-Fedora;Applications;AudioVideo;Video;Graphics;Utility;FileTools;Qt
Keywords=lms;lxdb;fmds
